@{
    ViewBag.Title = "Home Page";
}

<div>
    
    <script src="../../Scripts/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ShowProducts").click(function () {
                $.get("/Product/", function (data) { // Get data through AJAX call.
                    $("#Products").empty();
                    $("#Products").html(data); // Populate with data.
                });
            });
        });
    </script>

    <input type="button" name="ShowProducts" id="ShowProducts" value="Show Products" />
    <div id="Products"></div>

</div>
